spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3307/auth-service?useSSL=false&serverTimezone=UTC
    username: root
    password: 1
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

jwt:
  signerKey: d8dac878e33105c6a2c97504dce2d74065d986772693854c2c5af655f1a969bf